.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  
}
.jumbotron {
  background-color: bisque;
}
.jumbotron h1{
  color: darkcyan;
  text-align: center;
  font-family: sans-serif;
}
.jumbotron h2 {
  color: brown;
  font-size: 35px;
  font-style: oblique;
}
.jumbotron li {
  font-size: 20px;
  font-family:courier;
}
.jumbotron P {
  color: cornflowerblue;
  font-style: inherit;
  font-size: 25px;
}